body {


    #content-wrapper {
        flex-flow: row nowrap;

        header {
            position: relative;
            nav {

                ul {
                    flex-flow: column nowrap;

                    li {
                        margin: 15px 20px;

                    }

                    li#twiddler-logo {
                        display: block;
                    }
                }
            }
        }

        main {

            section, section h1, section #feed, section #feed .twiddle {
                border-left-width: $borderWidth;
                border-right-width: $borderWidth;
            }
        }
    }

}