@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
$white: #ffffff;
$lightGray: #bababa;
$mediumGray: #8d8d8d;
$darkGray: #3a3a3a;
$primaryColorLight: rgba(251, 129, 34, 0.15);
$primaryColor: #FB8122;

$borderRadius: 10px;
$borderWidth: 0.25px;
$borderColor: rgba(218, 218, 218, 0.25);

$headerFontFamily: 'Rubik', sans-serif;
$bodyFontFamily: 'Rubik', sans-serif;
$accentFontFamily: cursive;
